@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

*::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    position: relative;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html * {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font: 15px "SFProText", sans-serif;
    color: #2e323a;
    background-color: #F7F7F7;
}

input, textarea, select, option, button, label {
    outline: none;
    font-family: inherit;
    -webkit-appearance: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol, menu {
    list-style: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

label, [type='submit'] {
    cursor: pointer;
}

fieldset, [type='submit'] {
    border: none;
}

[class^='icon-'] {
    display: inline-block;
    position: relative;
}

img {
    display: block;
}

@font-face {
    font-family: "SFProText";
    src: url("../fonts/SF-Pro-Text-Regular.otf");
    src: url("../fonts/SF-Pro-Text-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SF-Pro-Text-Regular.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SFProText";
    src: url("../fonts/SF-Pro-Text-Medium.otf");
    src: url("../fonts/SF-Pro-Text-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SF-Pro-Text-Medium.otf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "SFProText";
    src: url("../fonts/SF-Pro-Text-Semibold.otf");
    src: url("../fonts/SF-Pro-Text-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SF-Pro-Text-Semibold.otf");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "SFProText";
    src: url("../fonts/SF-Pro-Text-Bold.otf");
    src: url("../fonts/SF-Pro-Text-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SF-Pro-Text-Bold.otf");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "EuropeExtBold";
    src: url("../fonts/EuropeExtBold.otf");
    src: url("../fonts/EuropeExtBold.eot?#iefix") format("embedded-opentype"), url("../fonts/EuropeExtBold.otf");
    font-style: normal;
    font-weight: 800;
}

.menu {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu__item {
    height: inherit;
}

.menu__item_active .menu__link {
    color: #ffffff;
    background-color: #5093e1;
}

.menu__item_active .svg-icon-fill {
    fill: #fff;
}

.menu__link {
    height: inherit;
    min-width: 115px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-left: 1px solid #D6DBE2;
}

.menu__link_bold {
    font-weight: 500;
}

.menu__link-icon {
    font-size: 0;
    margin-bottom: 6px;
}

.header {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 0 #e0e3ec;
    box-shadow: 0 2px 0 #e0e3ec;
}

.header__row {
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__left, .header__right {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.header__left {
    padding-left: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__right {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.header__logo {
    position: relative;
    top: 4px;
    margin-right: 20px;
}

.header__menu {
    height: 100%;
}

.header__basket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    min-width: 115px;
    text-align: center;
    font-weight: 500;
    border-left: 1px solid #d6dbe2;
    overflow: hidden;
}

.header__basket_active {
    color: #ffffff;
    background-color: #5093e1;
}

.header__basket_active .header__basket-price {
    color: #ffffff;
}

.header__basket_active .icon-basket::before {
    color: #5093e1;
    background-color: #fff;
}

.header__basket_active .svg-icon-fill {
    fill: #fff;
}

.header__basket-icon {
    margin-bottom: 6px;
}

.header__basket-price {
    color: #5093e1;
}

.header-actions {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 20px;
    border-left: 1px solid #D6DBE2;
}

.logo {
    display: table;
    font: 800 26px 'EuropeExtBold';
    text-transform: uppercase;
}

.logo__img {
    width: 100px;
}

.weather {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.weather + * {
    padding-left: 14px;
    margin-left: 15px;
    border-left: 1px solid #D6DBE2;
}

.weather__icon {
    margin-right: 10px;
}

.weather__text {
    font-size: 24px;
}

.weather__text::after {
    content: '˚';
}

.time {
    font-size: 24px;
    color: #5093e1;
}

.main {
    padding-top: 30px;
    overflow: hidden;
}

.container {
    max-width: 1180px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.page-home {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.page-home .main {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.icon-basket {
    width: 26px;
    height: 28px;
    position: relative;
}

.icon-basket::before {
    content: attr(data-items);
    position: absolute;
    top: -6px;
    left: 20px;
    height: 23px;
    min-width: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #5093e1;
    color: #fff;
    font-size: 13px;
    font-style: normal;
    border-radius: 20px;
    padding: 0 3px;
}

.svg-icon-fill {
    fill: #777;
}

.icon-box {
    width: 26px;
    height: 28px;
}

.icon-settings {
    width: 27px;
    height: 27px;
}

.icon-power {
    width: 24px;
    height: 27px;
}

.icon-weather-cloud-sun {
    width: 50px;
    height: 50px;
    background-size: contain;
}

.icon-lock {
    width: 54px;
    height: 78px;
    background: url("../img/icons/lock.svg") center no-repeat;
    background-size: contain;
}

.icon-percentage {
    width: 63px;
    height: 78px;
    background: url("../img/icons/percentage.svg") center no-repeat;
    background-size: contain;
}

.icon-boxinsettings {
    width: 63px;
    height: 78px;
    background: url("../img/icons/boxinsettings.svg") center no-repeat;
    background-size: contain;
}

.svg-calendar-fill {
    fill: #5093e1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.icon-calendar {
    width: 27px;
    height: 27px;
}

.icon-remove {
    width: 25px;
    height: 25px;
    background: url("../img/icons/remove.svg") center no-repeat;
    background-size: contain;
}

.title {
    font-size: 27px;
    font-weight: 600;
}

.subtitle {
    font-size: 26px;
    line-height: 36px;
    font-weight: 300;
    padding-bottom: .7em;
}

.lead {
    font-size: 28px;
    line-height: 36px;
    font-weight: 300;
    padding-bottom: 1em;
}

.text {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 1em;
}

.text_left {
    text-align: left;
}

.text_center {
    text-align: center;
}

.text_right {
    text-align: right;
}

.text_blue {
    color: #5093e1;
}

.desc {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 1em;
}

.mCSB_outside + .mCSB_scrollTools {
    right: -31px;
}

.mCSB_scrollTools {
    height: calc(100% - 40px);
    margin: auto;
    opacity: 1;
}

.mCSB_scrollTools .mCSB_draggerRail {
    width: 16px;
    background-color: #D6DBE2;
}

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #5093e1;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 16px;
    background-color: #5093e1;
}

.btn {
    display: table;
    text-align: center;
    border-radius: 35px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.btn_center {
    margin-left: auto;
    margin-right: auto;
}

.btn_theme_blue {
    color: #fff;
    background-color: #5093e1;
}

.btn_theme_blue:hover {
    background-color: #2578d9;
}

.btn_theme_blue-inverse {
    color: #5093e1;
    border: 1px solid #5093e1;
}

.btn_theme_blue-inverse:hover {
    color: #fff;
    background-color: #5093e1;
}

.btn_size_s {
    min-width: 100px;
    padding: 0 5px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn_size_s.btn_theme_blue-inverse {
    height: 33px;
    line-height: 33px;
}

.btn_size_m {
    min-width: 285px;
    padding: 0 40px;
    height: 70px;
    line-height: 70px;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn_size_m.btn_theme_blue-inverse {
    height: 68px;
    line-height: 68px;
}

.btn-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.btn-group_center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.btn-group .btn:not(:last-child) {
    margin-right: 10px;
}

.block_island {
    background-color: #fff;
    border-radius: 3px;
}

.title-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
}

.title-box {
    padding: 23.5px 40px;
}

.back-link {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100px;
    border-right: 1px solid #D6DBE2;
    background: url("../img/icons/arrow-back.svg") center no-repeat;
    background-size: 40px 33px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back-link:hover {
    background-color: #e0e3ec;
}

.searchbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.searchbox__input {
    padding-left: 30px;
}

.searchbox__btn {
    width: 110px;
    height: 80px;
    background: url("../img/icons/search.svg") center no-repeat;
    background-size: 30px;
}

.input, .searchbox__input {
    width: 100%;
    height: 80px;
    border: none;
    font-size: 20px;
}

.input::-webkit-input-placeholder, .searchbox__input::-webkit-input-placeholder {
    color: #A3A8B9;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.input::-moz-placeholder, .searchbox__input::-moz-placeholder {
    color: #A3A8B9;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    backface-visibility: hidden;
}

.input:-moz-placeholder, .searchbox__input:-moz-placeholder {
    color: #A3A8B9;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    backface-visibility: hidden;
}

.input:-ms-input-placeholder, .searchbox__input:-ms-input-placeholder {
    color: #A3A8B9;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    backface-visibility: hidden;
}

.input:focus::-webkit-input-placeholder, .searchbox__input:focus::-webkit-input-placeholder {
    color: transparent;
}

.input:focus::-moz-placeholder, .searchbox__input:focus::-moz-placeholder {
    color: transparent;
}

.input:focus:-moz-placeholder, .searchbox__input:focus:-moz-placeholder {
    color: transparent;
}

.input:focus:-ms-input-placeholder, .searchbox__input:focus:-ms-input-placeholder {
    color: transparent;
}

.checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.checkbox__input {
    display: none;
}

.checkbox__input:checked + .checkbox__icon {
    border-color: #5093e1;
}

.checkbox__input:checked + .checkbox__icon::before {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.checkbox__icon {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 29px;
    height: 29px;
    border: 1px solid #A3A8B9;
    border-radius: 4px;
    margin-right: 15px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.checkbox__icon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: url("../img/icons/mark.svg") center no-repeat;
    background-size: 20px 15px;
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.checkbox__text {
    color: #4B4B4B;
    font-size: 18px;
    font-weight: 600;
}

.counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 270px;
    width: 100%;
    margin: 0 auto;
}

.counter__input {
    width: 100%;
    margin: 0 12px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: 1px solid #5093e1;
    border-radius: 20px;
}

.counter__less, .counter__more {
    width: 40px;
    height: 40px;
    border: 1px solid #5093e1;
    border-radius: 50%;
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.counter__less::before, .counter__more::before {
    content: '';
    width: 19px;
    height: 3px;
    background-color: #5093e1;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.counter__more::after {
    content: '';
    width: 3px;
    height: 19px;
    background-color: #5093e1;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.datepicker-dropdown {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
}

.datepicker-container {
    width: 590px;
    border: none;
}

.datepicker-container::before, .datepicker-container::after {
    display: none;
}

.datepicker-panel > ul {
    width: auto;
}

.datepicker-panel > ul[data-view="week"] {
    padding: 0 14px;
}

.datepicker-panel > ul[data-view="week"] > li {
    width: 80px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 24px;
    color: #2E323A;
}

.datepicker-panel > ul[data-view="days"] {
    padding: 0 14px 16px;
}

.datepicker-panel > ul[data-view="days"] > li {
    width: 80px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 24px;
    color: #777777;
    background-color: #FBFBFB;
}

.datepicker-panel > ul[data-view="days"] > li.picked, .datepicker-panel > ul[data-view="days"] > li.picked:hover, .datepicker-panel > ul[data-view="days"] > li:hover {
    color: #ffffff;
    background-color: #5093e1;
}

.datepicker-panel > ul[data-view="days"] > li.muted {
    color: #a3a8b9;
}

.datepicker-panel > ul[data-view="days"] > li.muted:hover {
    background-color: #ddd;
}

.datepicker-panel > ul > [data-view="month current"], .datepicker-panel > ul [data-view="month prev"], .datepicker-panel > ul [data-view="month next"] {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    border-bottom: 3px solid #F8F8F8;
}

.datepicker-panel > ul > [data-view="month prev"], .datepicker-panel > ul [data-view="month next"] {
    width: 87px;
    position: relative;
}

.datepicker-panel > ul > [data-view="month prev"]::before, .datepicker-panel > ul [data-view="month next"]::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../img/icons/calendar-prev.svg") center no-repeat;
    background-color: #fff;
    background-size: 13px 30px;
}

.datepicker-panel > ul > [data-view="month next"]::before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.datepicker-panel > ul > li[data-view="month current"] {
    width: 416px;
    font-size: 30px;
    color: #a3a8b9;
    cursor: auto;
}

.datepicker-panel > ul > li[data-view="month current"]:hover {
    background-color: #fff;
}

.remodal {
    max-width: 845px;
}

.remodal_content {
    padding: 60px 30px 40px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
    border-radius: 3px;
}

.remodal-overlay {
    background-color: rgba(163, 168, 185, 0.5);
}

.remodal-close {
    left: auto;
    right: 0;
    width: 87px;
    height: 81px;
    background: url("../img/icons/close.svg") center no-repeat;
    background-size: 25px;
}

.remodal-close::before {
    display: none;
}

.remodal-quit__title {
    margin-bottom: 12px;
}

.remodal-quit__text {
    font-size: 18px;
    color: #4B4B4B;
    margin-bottom: 57px;
}

.remodal-quit__btn-group {
    padding-bottom: 40px;
}

.remodal-quit__btn-group .btn:not(:last-child) {
    margin-right: 67px;
}

.remodal-password__title {
    margin-bottom: 30px;
}

.remodal-basket-clear__title {
    margin-bottom: 15px;
}

.remodal-basket-clear__text {
    font-size: 18px;
    color: #4b4b4b;
    margin-bottom: 40px;
}

.remodal-product {
    padding: 0;
    text-align: left;
}

.remodal-product-info {
    padding: 30px;
    border-bottom: 1px solid #F4F4F4;
}

.remodal-product-parametrs {
    padding: 25px 30px;
    border-bottom: 1px solid #F4F4F4;
}

.remodal-product-parametrs__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.remodal-product-parametrs__subtitle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.remodal-product-parametrs__text {
    font-size: 16px;
    color: #a3a8b9;
    margin-bottom: 23px;
}

.remodal-product-parametrs__row {
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-gap: 0 50px;
}

.remodal-product-total {
    padding: 25px 30px 40px;
    border-bottom: 1px solid #F4F4F4;
}

.product-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 25px;
}

.product-item__image {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 155px;
    height: 155px;
    border: 1px solid #D6DBE2;
    border-radius: 3px;
    margin-right: 30px;
}

.product-item__image img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.product-item__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-right: 35px;
}

.product-item__text {
    padding-bottom: 10px;
}

.product-item__desc {
    font-size: 16px;
}

.product-item__desc-title {
    font-weight: 600;
    margin-bottom: 10px;
}

.product-item__desc-text {
    line-height: 24px;
}

.delivery-date-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}

.delivery-date__input {
    display: none;
}

.delivery-date__input:checked ~ .delivery-date__text {
    color: #5093e1;
}

.delivery-date__input:checked ~ .delivery-date__btn {
    color: #fff;
    background-color: #5093e1;
    border-color: #5093e1;
}

.delivery-date__input:checked ~ .delivery-date__btn .delivery-date__btn-price {
    color: #ffffff;
}

.delivery-date__btn {
    width: 100%;
    height: 66px;
    border: 1px solid #D0D1D3;
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.delivery-date__btn-price {
    font-size: 18px;
    font-weight: 600;
    color: #5093e1;
    margin-bottom: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.delivery-date__text {
    font-size: 16px;
    font-weight: 600;
    color: #a3a8b9;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.product-total {
    margin-bottom: 30px;
}

.product-total__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.product-total__table {
    border-bottom: 1px solid #F4F4F4;
}

.product-total__table thead {
    font-size: 16px;
    font-weight: 600;
    color: #a3a8b9;
}

.product-total__table tbody {
    font-size: 18px;
    font-weight: 500;
}

.product-total__table tbody td:last-child {
    padding-bottom: 25px;
}

.product-total__table td {
    text-align: center;
    padding-bottom: 15px;
}

.product-total__table td:first-child {
    text-align: left;
}

.product-total__table td:last-child {
    text-align: right;
}

.product-total__price-total {
    font-size: 29px;
    font-weight: 600;
    color: #5093e1;
    text-align: right;
    padding-top: 20px;
}

.remodal-gallery {
    max-width: 840px;
    height: 610px;
    padding: 0;
    text-align: left;
    overflow: hidden;
}

.gallery-slider__item {
    height: 610px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.gallery-slider__desc {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #ffffff;
    padding: 20px 75px 5px 30px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.81)), to(transparent));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.81), transparent);
}

.gallery-slider .owl-dots {
    display: none;
}

.gallery-slider.owl-carousel .owl-nav .owl-prev, .gallery-slider.owl-carousel .owl-nav .owl-next {
    width: 42px;
    height: 42px;
    background: url("../img/icons/gallery-prev.svg") center no-repeat;
    background-size: contain;
    position: absolute;
    top: calc(50% - 21px);
}

.gallery-slider.owl-carousel .owl-nav .owl-prev.disabled, .gallery-slider.owl-carousel .owl-nav .owl-next.disabled {
    opacity: 0;
}

.gallery-slider.owl-carousel .owl-nav .owl-prev {
    left: 30px;
}

.gallery-slider.owl-carousel .owl-nav .owl-next {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 30px;
}

.remodal-close_gallery {
    z-index: 2;
    background-image: url("../img/icons/close-white.svg");
}

.login {
    max-width: 635px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.login-wrapper {
    margin: auto 0;
}

.login__title {
    text-align: center;
    margin-bottom: 40px;
}

.login__input {
    text-align: center;
    margin-bottom: 50px;
    -webkit-box-shadow: 0 2px 0 #C7CCD9;
    box-shadow: 0 2px 0 #C7CCD9;
    border-radius: 3px;
}

.login__input::-webkit-input-placeholder {
    letter-spacing: 21.6px;
}

.login__input::-moz-placeholder {
    letter-spacing: 21.6px;
}

.login__input:-moz-placeholder {
    letter-spacing: 21.6px;
}

.login__input:-ms-input-placeholder {
    letter-spacing: 21.6px;
}

.settings-wrapper {
    padding-top: 28px;
}

.settings__title-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 0 50px;
}

.settings__title-info {
    font-size: 18px;
    color: #4b4b4b;
    margin-left: auto;
}

.settings__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin-bottom: 50px;
}

.settings-item {
    border-radius: 2px;
    border: 1px solid #C8CBD3;
    height: 340px;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.settings-item_theme_white {
    background-color: #fff;
    border: none;
}

.settings-item__icon {
    margin-bottom: 46px;
}

.settings-item__title {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 10px;
}

.settings-item__text {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    min-height: 64px;
}

.settings__money {
    font-size: 50px;
    font-weight: 600;
    color: #5093e1;
    margin-bottom: 35px;
}

.settings__checkbox {
    display: table;
    margin-bottom: 45px;
}

.settings__checkbox .checkbox__text {
    font-size: 25px;
    font-weight: normal;
    color: #4B4B4B;
}

.r-password-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 30px;
}

.r-password__text {
    font-size: 17px;
    color: #4B4B4B;
    margin-bottom: 15px;
    text-align: left;
}

.r-password__input {
    width: 100%;
    height: 80px;
    border: 1px solid #979797;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.r-password__input:focus {
    border-color: #5093e1;
}

.r-password__input:focus::-webkit-input-placeholder {
    color: transparent;
}

.r-password__input:focus::-moz-placeholder {
    color: transparent;
}

.r-password__input:focus:-moz-placeholder {
    color: transparent;
}

.r-password__input:focus:-ms-input-placeholder {
    color: transparent;
}

.r-password__input::-webkit-input-placeholder {
    color: #A3A8B9;
    letter-spacing: 21.6px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.r-password__input::-moz-placeholder {
    color: #A3A8B9;
    letter-spacing: 21.6px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    backface-visibility: hidden;
}

.r-password__input:-moz-placeholder {
    color: #A3A8B9;
    letter-spacing: 21.6px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    backface-visibility: hidden;
}

.r-password__input:-ms-input-placeholder {
    color: #A3A8B9;
    letter-spacing: 21.6px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    backface-visibility: hidden;
}

.extra-charge-form {
    padding-top: 25px;
}

.extra-charge__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
}

.extra-charge__col {
    padding: 13px 0;
}

.extra-charge__col:not(:last-child) {
    border-right: 1px solid #F4F4F4;
}

.extra-charge__text {
    font-size: 18px;
    color: #4B4B4B;
    margin-bottom: 40px;
}

.extra-charge__percent {
    font-size: 40px;
    font-weight: 600;
    color: #5093e1;
}

.extra-charge__percent::after {
    content: '%';
    font-size: 23px;
    color: #4B4B4B;
}

.wrapper {
    position: relative;
}

.wrapper-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #D6DBE2;
}

.wrapper-header_auto {

}

.wrapper-header__btn {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.wrapper-main_catalog {
    max-height: 733px;
    overflow: auto;
}

.wrapper-main_orders {
    padding-top: 20px;
    max-height: 733px;
    overflow: auto;
}

.filter-btn, .datepicker-btn {
    width: 195px;
    height: 80px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #5093e1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-left: 1px solid #D6DBE2;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.filter-btn::after, .datepicker-btn::after {
    content: attr(data-checkbox-length);
    height: 23px;
    min-width: 23px;
    background-color: #5093e1;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 15px;
    margin-left: 5.5px;
    padding: 0 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: none;
}

.filter-btn[data-checkbox-length]::after, .datepicker-btn[data-checkbox-length]::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.filter-btn_is_active {
    background-color: #5093e1;
    color: #fff;
}

.filter-btn_is_active::after {
    background-color: #fff;
    color: #5093e1;
}

.filter-container {
    position: absolute;
    z-index: 1;
    top: 81px;
    width: 100%;
    background-color: #fff;
    padding: 30px 30px 30px;
    border-radius: 8px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.14);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.14);
    opacity: 0;
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
    pointer-events: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.filter-container_is_visible {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    pointer-events: auto;
}

.filter-list {
    overflow: auto;
    max-height: 570px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.filter__item {
    margin-bottom: 25px;
}

.filter-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.filter-actions__left, .filter-actions__right, .filter-actions__center {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.filter-actions__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.filter-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #777;
    font-size: 20px;
    padding: 20px 30px;
}

.filter-info b {
    font-weight: 600;
}

.filter-info__right {
    margin-left: auto;
}

.btn-link {
    font-size: 24px;
    color: #A3A8B9;
}

.catalog__title {
    font-size: 24px;
    font-weight: 600;
    color: #4B4B4B;
}

.catalog__title-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 30px 15px;
    border-bottom: 1px solid #EAEAEA;
}

.catalog__title-info {
    font-size: 20px;
    color: #777777;
    margin-left: auto;
}

.catalog-list {
    padding: 0 30px 25px;
}

.catalog-item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 0;
}

.catalog-item:not(:last-child) {
    border-bottom: 1px solid #EAEAEA;
}

.catalog-item_disabled .catalog-item__content {
    color: #777;
}

.catalog-item_disabled .catalog-item__btn {
    cursor: no-drop;
}

.catalog-item_disabled .catalog-item__btn-text {
    color: #D6DBE2;
}

.catalog-item_disabled .catalog-item__btn-price-list, .catalog-item_disabled .catalog-item__btn-price {
    color: #777;
}

.catalog-item_added .catalog-item__title {
    color: #5093e1;
}

.catalog-item_order .catalog-item__image-box, .catalog-item_basket .catalog-item__image-box {
    width: 78px;
    height: 78px;
}

.catalog-item_basket {
    border-bottom: 1px solid #EAEAEA;
}

.catalog-item__image-box {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 25px;
    width: 66px;
    height: 66px;
    border: 1px solid #D6DBE2;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}

.catalog-item__image {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.catalog-item__btn {
    min-width: 260px;
    height: 66px;
    border: 1px solid #D0D1D3;
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
}

.catalog-item__btn-text {
    font-size: 17px;
    text-transform: uppercase;
    padding-bottom: 4px;
}

.catalog-item__btn-price-list {
    font-size: 15px;
    color: #D6DBE2;
}

.catalog-item__btn-price {
    color: #5093e1;
}

.catalog-item__btn-price:not(:last-child) {
    padding-right: 10px;
}

.catalog-item__title {
    font-size: 18px;
    padding-bottom: 5px;
}

.catalog-item__actions {
    margin-left: auto;
}

.catalog-item__product-added {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.catalog-item__product-added-text {
    color: #777;
    font-size: 16px;
    line-height: 24px;
}

.catalog-item__change-link {
    font-size: 19px;
    color: #5093e1;
    font-weight: 600;
    margin-left: 60px;
}

.catalog-info_order {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px 0;
    padding-top: 8px;
}

.catalog-info_order .catalog-info__item {
    padding-right: 75px;
}

.catalog-info_basket {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px 50px;
    padding-top: 8px;
}

.catalog-info__item {
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
}

.catalog-info__item_blue {
    color: #5093e1;
}

.auto-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.auto-list2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.auto-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    height: 90px;
    border: 1px solid #D0D1D3;
    border-radius: 3px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px;
}

.delivery-info {
    text-align: right;
}

.delivery-info__date {
    display: block;
    color: #777777;
    margin-bottom: 5px;
}

.delivery-info__status {
    margin-bottom: 2px;
}

.delivery-info__status b {
    font-weight: 600;
}

.delivery-info__price, .basket-item__total-price {
    font-size: 24px;
    font-weight: 600;
    color: #5093e1;
}

.datepicker-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.datepicker-btn_active {
    color: #ffffff;
    background-color: #5093e1;
}

.datepicker-btn_active .svg-calendar-fill {
    fill: #ffffff;
}

.datepicker-btn_active .datepicker-btn__date {
    color: #ffffff;
}

.datepicker-btn__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.datepicker-btn__icon {
    margin-left: 10px;
}

.datepicker-btn__date {
    font-size: 16px;
    font-weight: 400;
    color: #a3a8b9;
    text-transform: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.datepicker-btn__date:not(:empty) {
    padding-top: 5px;
}

.basket-clear {
    font-size: 17px;
    font-weight: 600;
    color: #d0021b;
}

.basket-item__remove {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-left: 22px;
}

.basket-item__counter-wrap {
    margin-left: auto;
}

.basket-item__order-btn-link {
    display: table;
    margin: 15px auto 0;
    font-size: 19px;
    font-weight: 600;
    text-transform: uppercase;
    color: #5093e1;
}

.basket-item__total-text {
    font-size: 15px;
    color: #a3a8b9;
    padding-top: 10px;
}

.basket-item__total-price {
    color: #2e323a;
}

.basket-total {
    text-align: right;
    padding: 0 30px 83px;
}

.basket-total__text {
    font-size: 24px;
    font-weight: 600;
    color: #4b4b4b;
}

.basket-total__price {
    font-size: 28px;
    font-weight: 600;
    color: #5093e1;
    margin-bottom: 40px;
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.preloader {
    width: 30px;
    height: 30px;
    margin: auto;
    margin-bottom: 30px;
    border: 7px solid #000;
    border-left-color: #333;
    border-right-color: transparent;
    border-bottom-color: #555;
    border-radius: 100%;

    -webkit-animation: spin 600ms infinite linear;
    -moz-animation: spin 600ms infinite linear;
    -ms-animation: spin 600ms infinite linear;
    animation: spin 600ms infinite linear;
}